$primary-main: #115740;
$primary-light: #1C916B;
$secondary-main: #B58500;
$secondary-light: rgba(181, 133, 0, 0.6);
$error-main: #C8102E;
$error-light: #c94f63;

$bg-dark: #E5E5E5;
$bg-main: #EEF1F0;
$bg-light: #F9FAFA;
$bg-overlay: rgba(0, 0, 0, 0.4);
$bg-shadow: rgba(0, 0, 0, 0.14);

$contrast: #fff;
