$xs-space: 5px;
$sm-space: 10px;
$inner-space: 16px;
$md-space: 20px;
$lg-space: 30px;
$xl-space: 40px;
$xxl-space: 70px;

$sm-radius: 5px;
$md-radius: 20px;

$xss-fon: 5px;
$xs-font: 12px;
$sm-font: 14px;
$md-font: 16px;
$lg-font: 20px;
$xxl-font: 48px;
